# macos
.DS_Store
# env
.env
.env.*
!.env.example
# npm
node_modules
.npm
# distribution
dist/
releases/
/build
# svelte
/.svelte-kit
# vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# netlify
/.netlify
/package
# test output
.nyc_output/
# vim
*.swp
# vscode
.vscode/
